# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Awaitility.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Visual Studio files
.vs/
.vscode/
/obj/
*.user
*.suo

/src/Awaitility/bin/
/src/Awaitility/obj/
tests/Awaitility.Tests/bin/
tests/Awaitility.Tests/obj/
.idea/

# Compiled files
*.dll
*.exe
*.pdb

# User-specific files
*.userprefs

.DS_Store