# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Awaitility.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Visual Studio files
.vs/
.vscode/
/obj/
*.user
*.suo

# Compiled files
*.dll
*.exe

# User-specific files
*.userprefs